.cart-side{
    padding-top: 10px;
    position: sticky;
    top: 0;
}

.btn-clear{
    width: 100%;
    padding: 10px;
    background: red;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: medium;
    padding-right: 20px;
}

.btn-checkout{
    width: 100%;
    padding: 10px;
    background: orange;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: medium;
    padding-right: 20px;
    margin-top: 10px;
}